In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                      title  year
0  X-Men Origins: Wolverine  2009
1           Feng liu mi yue  1994
2                 Expiation  1922
3             Snap Judgment  1917
4              Kill Command  2016

In [4]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                    title  year     name   type                character     n
0         Suuri illusioni  1985   Homo $  actor                   Guests  22.0
1     Battle of the Sexes  2017  $hutter  actor          Bobby Riggs Fan  10.0
2    Secret in Their Eyes  2015  $hutter  actor          2002 Dodger Fan   NaN
3              Steve Jobs  2015  $hutter  actor  1988 Opera House Patron   NaN
4  Straight Outta Compton  2015  $hutter  actor              Club Patron   NaN

### How many movies are listed in the titles dataframe?

In [5]:
num_movies = titles.shape[0]
num_movies

223499

### What are the earliest two films listed in the titles dataframe?

In [6]:
earliest_two_films = titles.sort_values('year', ascending=True).head(2)
earliest_two_films

                                                 title  year
169199                                      Miss Jerry  1894
30624   Reproduction of the Corbett and Jeffries Fight  1899

### How many movies have the title "Hamlet"?

In [7]:
# Whoops, the command below lists the number of movies with "Hamlet" in the title
#num_Hamlet_titles = titles[titles['title'].str.contains('Hamlet')].shape[0]
num_Hamlet_titles = titles[titles['title'] == 'Hamlet'].shape[0]
num_Hamlet_titles

19

### How many movies are titled "North by Northwest"?

In [8]:
num_movies_titled_North_by_Northwest = titles[titles['title'] == 'North by Northwest'].shape[0]
num_movies_titled_North_by_Northwest

1

### When was the first movie titled "Hamlet" made?

In [9]:
first_Hamlet_year = titles[titles['title'] == 'Hamlet'].sort_values('year')['year'].iloc[0]
first_Hamlet_year

1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [10]:
Treasure_Island_movies = titles[titles['title'] == 'Treasure Island'].sort_values('year')
Treasure_Island_movies

                  title  year
41386   Treasure Island  1918
182154  Treasure Island  1920
15341   Treasure Island  1934
21367   Treasure Island  1950
23000   Treasure Island  1972
14217   Treasure Island  1973
7891    Treasure Island  1985
104300  Treasure Island  1999

### How many movies were made in the year 1950?

In [11]:
num_movies_1950 = titles[titles['year'] == 1950].shape[0]
num_movies_1950

1081

### How many movies were made in the year 1960?

In [12]:
num_movies_1960 = titles[titles['year'] == 1960].shape[0]
num_movies_1960

1487

### How many movies were made from 1950 through 1959?

In [13]:
num_movies_1950_thru_1959 = titles[(titles['year'] >= 1950) & (titles['year'] <= 1959)].shape[0]
num_movies_1950_thru_1959

12340

### In what years has a movie titled "Batman" been released?

In [14]:
Batman_years = titles[titles['title'] == 'Batman'].sort_values('year')['year'].tolist()
Batman_years

[1943, 1989]

### How many roles were there in the movie "Inception"?

In [15]:
num_Inception_roles = cast[cast['title'] == 'Inception'].shape[0]
num_Inception_roles

77

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [16]:
num_Inception_roles_ranked = cast[cast['title'] == 'Inception'].dropna().shape[0]
num_Inception_roles_not_ranked = num_Inception_roles - num_Inception_roles_ranked
num_Inception_roles_not_ranked

26

### But how many roles in the movie "Inception" did receive an "n" value?

In [17]:
num_Inception_roles_ranked

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [18]:
cast[cast['title'] == 'North by Northwest'].dropna().sort_values('n')

,title,year,name,type,character,n
810109,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3235971,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1354180,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
2911919,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
330827,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2815263,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1576006,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1184592,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2272380,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1683543,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
618775,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2131821,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
431247,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1402205,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
190611,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1286691,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [19]:
cast[(cast['title'] == 'Sleuth') & (cast['year'] == 1972)].sort_values('n')

,title,year,name,type,character,n
1585272,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
302918,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
346900,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1361812,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2523593,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1346399,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [20]:
cast[(cast['title'] == 'Sleuth') & (cast['year'] == 2007)].sort_values('n')

          title  year                 name     type          character    n
302919   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1201800  Sleuth  2007             Jude Law    actor               Milo  2.0
1678498  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
240674   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
346901   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2523592  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3103659  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [21]:
num_1921_Hamlet_credited_roles = cast[(cast['title'] == 'Hamlet') & (cast['year'] == 1921)].shape[0]
num_1921_Hamlet_credited_roles

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [22]:
num_1996_Hamlet_credited_roles = cast[(cast['title'] == 'Hamlet') & (cast['year'] == 1996)].shape[0]
num_1996_Hamlet_credited_roles

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [23]:
num_characters_named_Hamlet = cast[cast['character'] == 'Hamlet'].shape[0]
num_characters_named_Hamlet

88

In [24]:
num_roles_in_movies_titled_Hamlet = cast[cast['title'] == 'Hamlet'].shape[0]
num_roles_in_movies_titled_Hamlet

313

### How many people have played an "Ophelia"?

In [25]:
# Turning the filtered DataFrame into a set will ensure that any actress who has played Ophelia is counted only once 
num_people_played_Ophelia = len(set(cast[cast['character'] == 'Ophelia']['name']))
num_people_played_Ophelia

101

### How many people have played a role called "The Dude"?

In [26]:
num_people_played_The_Dude = len(set(cast[cast['character'] == 'The Dude']['name']))
num_people_played_The_Dude

17

In [27]:
# Really?  That many people have played a character named "The Dude"?!?  Let's see them.
cast[cast['character'] == 'The Dude']

,title,year,name,type,character,n
251824,The Big Lebowski,1998,Jeff Bridges,actor,The Dude,1.0
314660,Terms & Conditions,2015,Jordan Cann,actor,The Dude,9.0
463198,Stranger,2000,Scott Crowell,actor,The Dude,NaN
529862,Pizza Man vs. the Dude,2004,Chris DeMarcus,actor,The Dude,NaN
567491,Sweepstakes,1931,Mike Donlin,actor,The Dude,12.0
585063,Self Helpless,2010,Devin The Dude,actor,The Dude,NaN
1013742,Jay and Silent Bob Strike Back,2001,Matthew (XIX) James,actor,The Dude,37.0
1059216,Explicit Ills,2008,Christopher Kadish,actor,The Dude,27.0
1270294,American Idiots,2013,Jason Loughridge,actor,The Dude,10.0
1288408,The Winds of Autumn,1976,Steve Lyons,actor,The Dude,30.0
1406179,The Liq,2016,Mark Alan Meek,actor,The Dude,NaN
1432508,Wild Oats Lane,1926,Jerry Miley,actor,The Dude,6.0
1658550,Oklahoma Badlands,1948,House Peters Jr.,actor,The Dude,13.0
1709071,Hacks,1997,Jason Priestley,actor,The Dude,11.0
2045534,Carlos Spills the Beans,2012,Bobby Styles,actor,The Dude,NaN
2169113,Zachariah,1971,Dick Van Patten,actor,The Dude,9.0
2246242,It Can Be Arranged,2010,Joel Weiss,actor,The Dude,NaN

### How many people have played a role called "The Stranger"?

In [28]:
num_people_played_The_Stranger = len(set(cast[cast['character'] == 'The Stranger']['name']))
num_people_played_The_Stranger

194

### How many roles has Sidney Poitier played throughout his career?

In [29]:
num_Sidney_Poitier_roles = cast[cast['name'] == 'Sidney Poitier'].shape[0]
num_Sidney_Poitier_roles

43

### How many roles has Judi Dench played?

In [30]:
num_Judi_Dench_roles = cast[cast['name'] == 'Judi Dench'].shape[0]
num_Judi_Dench_roles

53

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [31]:
Cary_Grant_1940s_n2_supporting_roles = cast[(cast['name'] == 'Cary Grant') &
                                            (cast['n'] == 2) & 
                                            (cast['year'] >= 1940) & 
                                            (cast['year'] <= 1949)].sort_values('year')
Cary_Grant_1940s_n2_supporting_roles

                   title  year        name   type    character    n
810106  My Favorite Wife  1940  Cary Grant  actor         Nick  2.0
810116    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [32]:
Cary_Grant_1940s_leading_roles = cast[(cast['name'] == 'Cary Grant') &
                                      (cast['n'] == 1) & 
                                      (cast['year'] >= 1940) & 
                                      (cast['year'] <= 1949)].sort_values('year')
Cary_Grant_1940s_leading_roles

,title,year,name,type,character,n
810131,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
810088,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
810133,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
810121,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
810135,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
810112,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
810079,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
810104,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
810105,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
810113,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
810071,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
810108,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
810107,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
810110,Notorious,1946,Cary Grant,actor,Devlin,1.0
810127,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
810128,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
810103,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
810083,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
810092,I Was a Male War Bride,1949,Cary Grant,actor,Capt. Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [33]:
num_1950s_actor_roles = cast[(cast['type'] == 'actor') & 
                             (cast['year'] >= 1950) & 
                             (cast['year'] <= 1959)].shape[0]
num_1950s_actor_roles

152504

### How many roles were avilable for actresses in the 1950s?

In [34]:
num_1950s_actress_roles = cast[(cast['type'] == 'actress') & 
                             (cast['year'] >= 1950) & 
                             (cast['year'] <= 1959)].shape[0]
num_1950s_actress_roles

55399

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [38]:
num_leading_roles_thru_1980 = cast[(cast['n'] == 1) & (cast['year'] <= 1980)].shape[0]
num_leading_roles_thru_1980

62893

### How many non-leading roles were available through from the beginning of film history through 1980?

In [39]:
num_non_leading_roles_thru_1980 = cast[(cast['n'] != 1) & (cast['year'] <= 1980)].shape[0]
num_non_leading_roles_thru_1980

1078683

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [40]:
num_minor_roles_thru_1980 = cast[(cast['n'].isnull()) & (cast['year'] <= 1980)].shape[0]
num_minor_roles_thru_1980

431053